@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Funnel Display", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: #fff;
}

main {
    flex: 1;
    flex-direction: row;
}
/* Formulário */
.secaoFormulario {

    background-image: url("/images/catTyping.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    text-align: center;
}

.secaoFormulario .conteudoSecaoFormulario {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
}
.textoFormulario{
    font-size: 2rem;
    color: #d14b71
}
#formulario {
    width: 100%;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.labelNome,
.labelSenha {
    left: 0;
    right: 0;
    align-self: flex-start;
    font-weight: bold;
    font-size: 1rem;
    color: #8b2e48;
}

#inputNome,
#inputSenha {
    width: 300px;
    height: 35px;
    border-radius: 3px;
    border: none;
    transform: translateY(0px);
    transition: transform 0.3s ease-in; 
}

#inputNome:hover,
#inputSenha:hover {
    transform: translateY(-3px);
}

#inputNome::placeholder,
#inputSenha::placeholder {
    font-size: 0.8rem;
}

#inputNome:focus,
#inputSenha:focus {
    outline: none;
}
#botaoFormulario{
    font-weight: bold;
    color: #fff;
    background-color: #d14b71;
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-in;
    transition: height 0.3s ease-in;
}
#botaoFormulario:hover{
    background-color: #9d2f4e;
    height: 50px;
}
/* Rodapé */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #9d2f4e;
    width: 100%;
    height: 15vh;
}